In [1]:
# String Manipulation:


print('Welcome to Pyhton world')

Welcome to Pyhton world

In [2]:

print("Welcome to Pyhton world")

Welcome to Pyhton world

In [4]:
print('I don't know about python')

I don't know about python

In [5]:
print('I don\'t know about python I don\'t know about python I don\'t know about python')

I don't know about python I don't know about python I don't know about python

In [6]:
print("I don't know about python I don't know about python I don't know about python")

I don't know about python I don't know about python I don't know about python

In [12]:
print(r'I don\'t know \n about \t "python" ')

I don\'t know \n about \t "python"

In [13]:
txt = '''Roles and ResponsibilitiesRole : Python DeveloperResponsibilities :- Work experience as a Python Developer
- Design and implement various structures for all physical objects and recommend changes on applications through 
efficient statistical structures.- Expertise in at least one popular Python framework (like Django, Flask 
or Pyramid)- Knowledge of object-relational mapping ('''

In [14]:
txt

'Roles and ResponsibilitiesRole : Python DeveloperResponsibilities :- Work experience as a Python Developer\n- Design and implement various structures for all physical objects and recommend changes on applications through \nefficient statistical structures.- Expertise in at least one popular Python framework (like Django, Flask \nor Pyramid)- Knowledge of object-relational mapping ('

In [15]:
name = 'Gopinath'

In [16]:
name

'Gopinath'

In [17]:
num = 10

In [18]:
num

10

In [19]:
txt = 'Django and Flask'

In [20]:
txt.isupper()

False

In [22]:
txt.upper().isupper()

True

In [24]:
txt.lower().islower()

True

In [28]:
txt.startswith('Django')

True

In [30]:
txt.endswith('Flask')

True

In [31]:
txt

'Django and Flask'

In [33]:
'django' in 'Django and Flask'

False

In [36]:
'Django' not in 'Django and Flask'

False

In [42]:
txt = 'Django and Flask Django and Flask'
txt.split(' ')

['Django', 'and', 'Flask', 'Django', 'and', 'Flask']

In [38]:
lst = ['Django', 'and', 'Flask', 'Django', 'and', 'Flask']

In [40]:
'#'.join(lst)

'Django#and#Flask#Django#and#Flask'

In [57]:
x = input('enter the value: ')

enter the value: Gopi

In [60]:

print(type(x))
x

<class 'str'>

'Gopi'

In [61]:
x.isnumeric
y = int(x)

ValueError: invalid literal for int() with base 10: 'Gopi'

In [55]:
type(y)

int

In [56]:
print(y + 10 )

1244

In [63]:
'100G'.isnumeric()

False

In [64]:
txt = "        invalid literal for int() with base       "

In [65]:
txt

'        invalid literal for int() with base       '

In [66]:
txt.strip()

'invalid literal for int() with base'

In [67]:
txt.lstrip()

'invalid literal for int() with base       '

In [68]:
txt.rstrip()

'        invalid literal for int() with base'

In [ ]:
 0 1 2 3 4 5 6
 W E L C O M E
-7-6-5-4-3-2-1

In [69]:
txt = 'WELCOME'

In [71]:
txt[6]

'E'

In [72]:
txt[4]

'O'

In [73]:
txt[-3]

'O'

In [80]:
# '+', '*'

print(txt + ' all')
print(txt, 1234)
print(txt*3)

WELCOME all
WELCOME 1234
WELCOMEWELCOMEWELCOME

In [81]:
txt.index('E')

1

In [82]:
txt = 'welcome'

In [83]:
txt.capitalize()

'Welcome'

In [84]:
txt = 'WELCOME'

In [85]:
txt.casefold()

'welcome'

In [86]:
txt

'WELCOME'

In [88]:
txt.center(50)

'                     WELCOME                      '

In [89]:
# String Formatting:

In [93]:
name = input('Enter the value: ')
email = input('Enter the email ')
print('Hello all, this is {0} and pls send mail to me: {1}'.format(name, email))

Enter the value: Sarath
Enter the email sarath@gmail.com
Hello all, this is Sarath and pls send mail to me: sarath@gmail.com

In [95]:
name = input('Enter the value: ')
email = input('Enter the email ')

print(f'Hello all, this is {name} and pls send mail to me: {email}')

Enter the value: Gopinath
Enter the email gopithri@gmail.com
Hello all, this is Gopinath and pls send mail to me: gopithri@gmail.com

In [96]:
# 5 * 1 = 5
# 5 * 2 = 10

In [99]:
for i in range(1, 11):
    print(f'5 * {i} = {5 * i}')

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [103]:
name = "Göpinath"

In [112]:
name.encode()

b'G\xc3\xb6pinath'

In [114]:
name= 'Göpinath'

name.expandtabs(tabsize=16)

'Göpinath'