In [ ]:
# Anonymous Function: (throw-away function)
    - its alwasy return expressions
    - lambda keyword
    - we cant declare methods name for lambda expression. (Anonymous function)
    - its one line code, we cant use loop & declare the blocks
    - cant access global variable
    - But we can use simple if else conditions.
    
    - map, filter, reduce.....
    
    
    
# Syntax:
    # lambda arguments : expression

In [1]:
def sq(a):
    return a**2

In [2]:
sq(10)

100

In [3]:
x = lambda a : a**2

In [4]:
x(10)

100

In [5]:
def add_num(a, b):
    return a + b

In [6]:
add_num(20, 30)

50

In [7]:
y = lambda a, b : a+b

In [8]:
y(20, 30)

50

In [9]:
sq

In [10]:
add_num

In [11]:
x

In [12]:
y

In [13]:
z = lambda a, b=1 : a + b

In [14]:
z(100, 200)

300

In [15]:
z(500)

501

In [16]:
z = lambda *args : sum(args)

In [17]:
z(1,2,3,4,5)

15

In [20]:
z=lambda a, b, *args, **kwargs : (a, b, args, kwargs)

In [21]:
z(1, 2, 30, 40, 50, 60, x = 10, y = 20, w = 30)

(1, 2, (30, 40, 50, 60), {'x': 10, 'y': 20, 'w': 30})

In [22]:
def sq(a):
    return a**3

In [23]:
sq(10)

1000

In [25]:
def apply_function(x, y):
    return y(x)

In [26]:
apply_function(10, sq)

1000

In [27]:
apply_function(10, lambda a : a**3)

1000

In [28]:
is_even = lambda a : a%2==0

In [30]:
is_even(11)

False

In [31]:
x = lambda a : a+2 if a%2 ==0 else a+1

In [33]:
x(7)

8

In [37]:
lst = ['a', 'B', 'c', 'D', 'a']

'a'.upper()

'A'

In [38]:
sorted(lst, key= lambda a : a.upper())

['a', 'a', 'B', 'c', 'D']