In [1]:
lst = []

In [2]:
type(lst)

list

In [3]:
lst.append('Gopi')

In [4]:
lst

['Gopi']

In [5]:
tp = ()

In [6]:
type(tp)

tuple

In [7]:
tp1 = ('Gopi', 'Babu', 'Sarath')

In [8]:
tp1

('Gopi', 'Babu', 'Sarath')

In [9]:
tp1.count('Babu')

1

In [10]:
tp1.index('Sarath')

2

In [1]:
# Create Tuple
# Update Tuple
# Delete Tuple
# Slicing Tuple

# Create Tuple:

In [17]:
# 1:

mobiles = ('Sumsung', 'Apple', 'Oneplus', 'LG')
print(mobiles)
print(type(mobiles))
print(id(mobiles))

('Sumsung', 'Apple', 'Oneplus', 'LG')
<class 'tuple'>
140547884242800

In [18]:
# 2: 
# Create the empty typle

mobiles = ()
print(mobiles)
print(type(mobiles))
print(id(mobiles))

()
<class 'tuple'>
140547819941952

In [19]:
# 3:
# Create tuple with single item
mobiles = ('Sumsung')
print(mobiles)
print(type(mobiles))



mobiles = ('Sumsung',)
print(mobiles)
print(type(mobiles))
print(id(mobiles))

Sumsung
<class 'str'>
('Sumsung',)
<class 'tuple'>
140547849733120

In [20]:
# 4:
# Create tuple with collection of values
mobiles = 'Sumsung', 'Apple', 'Oneplus', 'LG'
print(mobiles)
print(type(mobiles))
print(id(mobiles))

('Sumsung', 'Apple', 'Oneplus', 'LG')
<class 'tuple'>
140547884242720

In [24]:
# Update Tuple

m = ('Sumsung', 'Apple', 'Oneplus', 'LG')
n = (1, 2, 3, 4)

o = m + n
print(o)

('Sumsung', 'Apple', 'Oneplus', 'LG', 1, 2, 3, 4)

In [27]:
# Delete Tuple:
# We cant delete single item from tuple
# del o[0]

del(o)
print(o)

NameError: name 'o' is not defined

In [28]:
# Slicing tuple

order = ('Sumsung', 'Apple', 'Oneplus', 'LG', 1, 2, 3, 4)

In [34]:
print(order[0:4])
print(order[:4])
print(order[:-4])

('Sumsung', 'Apple', 'Oneplus', 'LG')
('Sumsung', 'Apple', 'Oneplus', 'LG')
('Sumsung', 'Apple', 'Oneplus', 'LG')

In [35]:
print(order[::-1])

(4, 3, 2, 1, 'LG', 'Oneplus', 'Apple', 'Sumsung')

In [ ]:
# covert tuple to list

list