# Learn_Set

1. A set is **unordered** collection of elements or items.
2. Its doesnt allow the **duplicate values** which means its always allows only unique value.
3. A set is created by placing all the items inside the **{}**.
4. We cant access or change an element of set using **indexing or Slicing**.(because of unorder).

In [4]:
# Create empty Set

s = {}      # s = set()
type(s)

dict

In [8]:
# initialize the set

mentors = {'Babu', 'Sarath', 'Balaji', 'Divya'}
type(mentors)

set

In [9]:
mentors.add('Naveen')

In [10]:
mentors

{'Babu', 'Balaji', 'Divya', 'Naveen', 'Sarath'}

In [11]:
mentors.update({'Sam', 'Hari'})

In [12]:
mentors

{'Babu', 'Balaji', 'Divya', 'Hari', 'Naveen', 'Sam', 'Sarath'}

In [13]:
mentors.remove('Babu')

In [14]:
mentors

{'Balaji', 'Divya', 'Hari', 'Naveen', 'Sam', 'Sarath'}

In [15]:
mentors.discard('Balaji')

In [16]:
mentors

{'Divya', 'Hari', 'Naveen', 'Sam', 'Sarath'}

In [17]:
mentors

{'Divya', 'Hari', 'Naveen', 'Sam', 'Sarath'}

In [18]:
mentors.remove('aaa')

KeyError: 'aaa'

In [19]:
mentors.discard('aaa')

In [20]:
mentors

{'Divya', 'Hari', 'Naveen', 'Sam', 'Sarath'}

In [21]:
mentors.pop()

'Divya'

In [22]:
mentors

{'Hari', 'Naveen', 'Sam', 'Sarath'}

In [23]:
mentors.clear()

In [24]:
mentors

set()

In [25]:
a = {'Hari', 'Naveen', 'Sam', 'Sarath'}

In [26]:
a

{'Hari', 'Naveen', 'Sam', 'Sarath'}

In [27]:
b = a.copy()

In [28]:
b

{'Hari', 'Naveen', 'Sam', 'Sarath'}

In [29]:
reversed(a)

TypeError: 'set' object is not reversible

In [30]:
sorted(a)

['Hari', 'Naveen', 'Sam', 'Sarath']

In [31]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

In [35]:
# Union
s3 = s1.union(s2)

In [36]:
s3

{1, 2, 3, 4, 5, 6, 7, 8}

In [38]:
# intersection
s1.intersection(s2)

{4, 5}

In [40]:
# difference
s1.difference(s2)

{1, 2, 3}

In [41]:
s2.difference(s1)

{6, 7, 8}

In [42]:
# symmetric_difference
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [43]:
s1

{1, 2, 3, 4, 5}

In [44]:
s2

{4, 5, 6, 7, 8}

In [45]:
s1.intersection_update(s2)

In [46]:
s2

{4, 5, 6, 7, 8}

In [47]:
s1

{4, 5}

In [51]:
s1 = {1, 2, 3, 4, 5}

In [52]:
s1

{1, 2, 3, 4, 5}

In [53]:
s2

{4, 5, 6, 7, 8}

In [57]:
s1.difference_update(s2)

In [58]:
s1

{1, 2, 3}

In [59]:
s2

{4, 5, 6, 7, 8}

In [60]:
s1 = {1, 2, 3, 4, 5}

In [61]:
s2 = {4, 5, 6, 7, 8}

In [62]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [63]:
s1

{1, 2, 3, 4, 5}

In [64]:
s2

{4, 5, 6, 7, 8}

In [65]:
s1.symmetric_difference_update(s2)

In [66]:
s1

{1, 2, 3, 6, 7, 8}

In [67]:
s2

{4, 5, 6, 7, 8}

In [74]:
s1 = {4, 5}
s2 = {4}

In [71]:
s1.issubset(s2)

False

In [75]:
s1.issuperset(s2)

True

In [78]:
s1 = {4, 5, 6}
s2 = {6, 7}

In [79]:
s1.isdisjoint(s2)

False

In [82]:
a = {'Babu', 'Balaji', 'Divya', 'Hari', 'Naveen', 'Sam', 'Sarath'}

In [83]:
for i in a:
    print(i)

Divya
Hari
Sarath
Balaji
Babu
Naveen
Sam