In [1]:
print("Welcome to the Python World")

Welcome to the Python World

In [2]:
print("Pls focus")

Pls focus

In [3]:
print("Hello everyone")

Hello everyone

In [4]:
a = 10

b = 20

In [5]:
a

10

In [6]:
b

20

In [7]:
a + b

30

# Variables and DataType

In [36]:
a = 100
b = 200

In [37]:
a

100

In [38]:
b

200

In [39]:
id(a)

4419700160

In [40]:
id(b)

4419703360

In [42]:
a = 200

In [43]:
id(b)

4419703360

In [44]:
id(a)

4419703360

In [46]:
name = "Gopinath"

In [47]:
x = "zzz"

In [48]:
helloall = "aa"

In [49]:
# can be in alphabat with range with a - z, A - Z
# should starts with digits
# keywords not allow
# "! @ # % $" cant use special Symbols

In [ ]:

myVariable = 10
myVariable22 = 100
MyVariable = 1000
_myVariable = 10000


break = 100
global = 1000

In [ ]:
name = "Gopi"
naMe = ""
Name = "Babu"
NAME = ""

In [51]:
# Statements

a = 100

b = 100

In [52]:
b = a

In [57]:
# Multiple Statements

a = 1 + 2 + 3 +  4 + \
5 + 6 + 7 + 8 + \
9 + 10

In [58]:
a

55

In [59]:
a = (1 + 2 + 3 +  4 + 
5 + 6 + 7 + 8 + 
9 + 10)

In [60]:
a

55

In [62]:
# Multiple Assignment Statement
a = 100
b = 200
c = 200

In [63]:
a = 100; b = 200; c = 300;

In [64]:
a, b, c = 100, 200, 300

In [65]:
a, b, c = 100, 10.10, "py"

In [66]:
a

100

In [67]:
b

10.1

In [68]:
c

'py'

In [69]:
a = 100; b = 100; c = 100;

In [70]:
a = b = c = 10000

In [71]:
a

10000

In [72]:
b

10000

In [73]:
c

10000

In [74]:
name = "Gopi"

In [75]:
type(name)

str

In [76]:
name = 10

In [77]:
type(name)

int

In [82]:
name = ["Gopi", "Babu", "Sarath", "Balaji", "Balaji"]

In [79]:
type(name)

list

In [80]:
n = ()

In [81]:
type(n)

tuple

In [83]:
name

['Gopi', 'Babu', 'Sarath', 'Balaji', 'Balaji']